---
pagination:
  data: tests
  size: 1
  alias: test
permalink: "tests/{{ test.filename | slugify }}/"
layout: default
---

<div class="pipeline">
  <h2>{{ test.filename }}</h2>
  <div class="row">
    {% for step in test.steps %} {% if step.show %}
    <figure>
      {{ step.svg | safe }}
      <figcaption>
        {{ step.name }}
        <button class="copy-svg">Copy SVG</button>
      </figcaption>
    </figure>
    {% endif %} {% endfor %}
  </div>
</div>
