---
pagination:
  data: tests
  size: 1
  alias: test
permalink: "tests/{{ test.filename | slugify }}/"
layout: default
---

<div class="pipeline">
  <h2>{{ test.filename }}</h2>
  <div class="row">
    {% for step in test.steps %} {% if step.show %}
    <figure>
      {{ step.svgDebug | safe }}
      <figcaption>
        {{ step.name }}
        <button class="copy-svg">Copy SVG</button>
      </figcaption>
    </figure>
    {% endif %} {% endfor %}
  </div>
</div>

<script>
  document.querySelectorAll(".copy-svg").forEach((button) => {
    button.addEventListener("click", () => {
      const svg = button.closest("figure").querySelector("svg");
      const serializer = new XMLSerializer();
      const svgString = serializer.serializeToString(svg);
      const tempTextArea = document.createElement("textarea");
      tempTextArea.value = svgString;
      document.body.appendChild(tempTextArea);
      tempTextArea.select();
      document.execCommand("copy");
      document.body.removeChild(tempTextArea);
    });
  });
</script>
