.dingus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;

  background-color: var(--color-chrome);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  overflow: hidden;
}

.dingus > :not(:last-child) {
  border-right: 1px solid var(--color-border);
}

.dingus header {
  padding: 0.5em 1rem;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

.dingus header h1,
.dingus header h2 {
  margin: 0;
}

.dingus .svg-container {
  display: grid;
  place-items: center;
  background-color: var(--color-surface);
}
