---
pagination:
  data: demos
  size: 1
  alias: demo
permalink: "demos/{{ demo.filename | slugify }}/"
layout: default
---

<article class="demo">
  <div class="comparison">
    <header>
      <h1>{{ demo.filename }}</h1>
    </header>
    <figure>
      <div class="container">{{ demo.input.svg | safe }}</div>
      <figcaption>Before</figcaption>
    </figure>
    <figure>
      <div class="container">{{ demo.output.svg | safe }}</div>
      <figcaption>After</figcaption>
    </figure>
  </div>
</article>
