body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  margin: 2rem;
  background-color: var(--color-background);
  color: var(--color-text);
}
a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3 {
  margin-top: 2em;
}

figure {
  margin: 0;
  padding: 0;
}
figcaption:has(button) {
  display: flex;
  justify-content: space-between;
}

svg {
  width: 100%;
  height: auto;
}
