nav ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
article {
  max-inline-size: 70ch;
}
