.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
figure {
  margin: 0;
  padding: 0;
}
figcaption {
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none;
}
